*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    color: #333;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
header{
    min-height: 100vh;
    background: url(img/pic1.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background: rgba(10, 9, 9, 0.768);
    padding: 1.2rem;
}
.navbar-brand{
    color: #fff;
    font-size: 24px;
    display: block;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}
.navbar-nav{
    text-align: center;
    padding: 0.8rem 0 0.2rem 0;

}
.navbar-nav a{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition:opacity 0.5s ease;


}
.navbar-nav a:hover{
    color: coral;
}
.banner{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
}
.banner-title{
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
}
.explorebtn button{
    width: 10rem;
    height: 3.3rem;
    background: none;
    border: 1px solid #fff;
    border-radius: 25px;
}
.explorebtn a{
    font-size: 20rem;
    text-decoration: none;
}
.explorebtn button:hover{
    color: white;
    background-color: #111111;
}   


/*---------------ABOUT SECTION -------------*/
.section-a{
    background: linear-gradient(90deg,#277697,#BCAFBC,#277697);
}
.section-a .heading h1{
    font-size: 3rem;
	line-height: 2em;
	color: black;
	padding: 0 0 0 1rem;
	text-align: center;
}
.aboutpage{
    /* min-height: auto;  */
    min-height: 85vh; 
    display: flex;
    flex-direction: row;
}
.aboutpicture{
    margin: 2rem 4rem;
    width: 35%;
}
.aboutpicture img{
    height: auto;
    width: 25vw; 
    border-radius: 10%;
}
.aboutparagraph{
    padding: 4rem 7rem;
}
.textbox{
    width: 70%;
}
.aboutparagraph p{
    margin-top: 1resm;
    font-size: 50px;
    font-weight: 100;
    color: black;
    text-align: justify;
}
/*---------------SKILL SECTION -------------*/
.section-b{
    background:#111111;
}
.section-b .heading h1{
    color:rgb(255, 255, 255);
    font-size: 3rem;
	line-height: 2em;
	padding: 0 0 0 1rem;
	text-align: center;
}
.skillpage{
    min-height: 85vh;
}
.skillbars{
	padding: 30px 35px;
	width: 70vw;
	background: rgb(63, 60, 60);
	border-radius: 20px;
    margin: 4rem 0 0 20rem;
}
.skillbars .bar{
	margin: 20px 0;
	margin-top: 10px;
}
.skillbars .bar .container{
	margin-bottom: 10px;
}
.skillbars .bar .container span{
	font-weight: 500;
    font-size: 17px;
}
.skillbars .bar .barline{
	height: 10px;
	width: 100%;
	background: #ffffff;
	position: relative;
	border-radius: 10px;
	box-shadow: inset 0 1px 1px rgba(85, 9, 9, 0.05)gba(255,255,255,0.8);
}
.bar .barline span{
	height: 100%;
	position: absolute;
	background: #131324;
}
.bar .barline.html span{
	width: 70%;
}
.bar .barline.css span{
	width: 65%;
}
.bar .barline.c span{
	width: 60%;
}
.bar .barline.cplusplus span{
	width: 29%;
}
.bar .barline.java span{
	width: 32%;
}
.barline.microsoftoffice span{
	width: 90%;
}
.barline span::after{
	position: absolute;
	top: -28px;
	right: 0;
	font-weight: 500;
	background: #000;
	color: #fff;
	padding: 1px 8px;
	font-size: 12px;
}
.barline.html span::after{
	content: "70%";
}
.barline.css span::after{
	content: "65%";
}
.barline.c span::after{
	content: "60%";
}
.barline.cplusplus span::after{
	content: "29%";
}
.barline.java span::after{
	content: "32%";
}
.barline.microsoftoffice span::after{
	content: "90%";
}
span{
    color: #fff;
}
/*---------------PROJECT SECTION ------------*/
.section-c{
    background: linear-gradient(90deg,#277697,#BCAFBC,#277697);
}
.section-c .heading h1{
    font-size: 3rem;
	line-height: 2em;
	color: black;
	padding: 0 0 0 1rem;
	text-align: center;
}
.projectpage{
    min-height: 100vh;
}
.project{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.3));
    justify-content: center;
    min-height: auto;
}
.projects-content{
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.project{
    padding: 1rem;
    width: 20vw;  
    height: 52vh;
    color: black;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0,0, 0);
    box-shadow: 1px 3px 8px #110c3fc9;
    border-radius: 15px;
    line-height: 1.5rem;
}
#projectimg{
    align-items: center;
    width: 20vw;
    height: 10rem;
}
.cta {
    display: inline-block;
    padding: 1px 7px;
    color: #110c3fc9;
    background-color: transparent;
    border: 1px solid #110c3fc9;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 10px;
    transition: .3s ease;
    font-weight: 800;
    text-decoration: none;
    background: rgba(13, 26, 209, 0);
    box-shadow: 1px 3px 8px #110c3fc9;
}
.cta:hover {
    color: white;
    background-color: #110c3fc9;
}
/*---------------CONTACT SECTION -------------*/
.section-d{
    background: url(img/typing4.jpg) center/cover no-repeat fixed;
	background-size: cover;
	color:rgb(255, 255, 255);
}
.section-d .heading h1{
    color:rgb(255, 255, 255);
    font-size: 3rem;
	line-height: 2em;
	padding: 0 0 0 1rem;
	text-align: center;
}
.contactpage{
    min-height: 85vh;
}
.form{
    height: 300px;
    overflow: hidden;
    padding-top: 25px;
}	
.contactboxinside{
    margin-left: 10%;
    margin-right: 50%;
    background-color:  rgba(0,0,0,.5);
    padding: 20px;
    height: 50vh;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.contact-head{
    text-align: center;
}
.contactinput{
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
.contactcenter{
    padding: 5px;
    width: 100%;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
}
.fa-user,.fa-envelope{
    width: 30px;
    background: #313030a8;
    padding: 5px;
}
.bottom-contact{
    text-align: center;
}
button.contactsubmit{
    background-color: #313030a8;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
}
/*------second box for address kineme----- */
.boxdetails{
	margin-left: 55%;
    margin-right: 10%;
	margin-top: -300px;
	padding-bottom: 90px;
	background-color:  rgba(0,0,0,.5);
	padding: 30px;
	color: rgb(255, 255, 255);
	border-radius: 10px;
    overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}

.details-group{
	position: relative;
    margin: auto;
    font-size: 16px;
    padding: 10px;
    color: rgb(226, 219, 219);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
.linetwo h3, .linefour h3, .linesix h3{
	color: rgb(255, 249, 249);
}
.wrapper{
	display: grid;
	grid-auto-rows: minmax(70px, auto);
	grid-gap: 5px;
	line-height: 1.5;
	/* overflow: hidden; */
}
.secondboxcontent p{
	font-size: 14px;
	font-style: italic;
	width: 100%;
}
.lineone{
  	grid-column: 3;
	grid-row: 1;
	text-align: center;
}
.linetwo{ 
	grid-column:4;
	grid-row: 1 / 2;
	padding-left:20px;
}
.linethree{
  	grid-column: 4/3;
    grid-row: 2 / 3;
    text-align: center;
    padding-top: 7px;
}
.linefour{
    grid-column: 4;
    grid-row: 2/3;
    padding-left:20px;
    padding-top: 7px;
}
.linefive{
    grid-column: 3;
    grid-row: 3/4;
    text-align: center;
}
.linesix{
 	grid-column: 4/6;
    grid-row: 3/3;
    padding-left:20px;
}

/*---------------FOOTER SECTION -------------*/
footer{
    background-color:rgb(10, 9, 9);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
}

@media screen and (min-width:650px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width:768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media only screen and (max-width:850px){
    .aboutpage{
        display: flex;
        flex-direction: column;
    }
    .aboutpicture{
        width: auto;
        height: auto;
        margin: auto;
    }
    .textbox{
        width: auto;
        height: auto;
    }
    .projects-content{
        display: flex;
        flex-direction: column;
    }
    .project{
        margin: 2rem;
        width: 70vw;
        height: auto;
    }
    #projectimg{
        height: 12rem;
        width: 20rem;
    }
    .contactbox{
        display: flex;
        flex-direction: column;    
    }
    .contactboxinside{
        width: 72%; 
    }
    .boxdetails{
		display: flex;
        flex-direction: column;  
	}
    .secondboxcontent{
        display: flex;
        flex-direction: column;  
    }
}
@media only screen and (max-width:1100px){
    .explorebtn button{
        width: 8rem;
        height: 2.5rem;
        border: 1px solid #fff;
        border-radius: 25px;
    }
    .explorebtn a{
        font-size: 0.9rem;
        color: #f4f4f4;
        text-decoration: none;
    }
    .aboutparagraph{
        padding: 2rem 4rem;
    }
    .aboutparagraph h2{
        font-size: 2.3rem;
    }
    .aboutparagraph p{
        font-size: 1.2rem;
    }
    .skillbars{
        margin: auto;
    }
    .project{
        height: auto;
    }   
}
@media only screen and (max-width:400px){
    .navbar-nav a{
        display: block;
        text-align: center;
    }
    #projectimg{
        height: auto;
        width: 100%;
    }
}
